.git
.github
.vscode
.idea

.env
.env.*
!.env.template

node_modules/
dist/
build/
.cache/
coverage/

__pycache__/
*.py[cod]
.pytest_cache/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
*.tmp
*.bak
.DS_Store
