# ── Database ──────────────────────────────────────────────────────────────────
DATABASE_URL=YOUR_CONNECTION_URL

# ── Supabase Storage ──────────────────────────────────────────────────────────
SUPABASE_URL=https://ukegejucaazskxxmafnx.supabase.co
SUPABASE_SERVICE_ROLE_KEY=SUPABASE_KEY
SUPABASE_BUCKET_NAME=reports
SUPABASE_AUDIENCE=authenticated

# ── Backend Core ──────────────────────────────────────────────────────────────
ENVIRONMENT=development
JWT_SECRET_KEY=supersecretkey_change_in_production
APP_ENCRYPTION_KEY=YOUR_AUTH_KEY
FRONTEND_APP_URL=http://localhost:5173
BACKEND_PUBLIC_URL=http://localhost:8000

# ── Google Fit ────────────────────────────────────────────────────────────────
GOOGLE_FIT_CLIENT_ID=YOUR_GOOGLE_FIT_ID
GOOGLE_FIT_CLIENT_SECRET=GOOGLE_FIT_CLIENT_SECRET_KEY
GOOGLE_FIT_DEFAULT_TIMEZONE=Asia/Kolkata

# ── External APIs ─────────────────────────────────────────────────────────────
OPENWEATHER_API_KEY=OPENWEATHER_API_KEY

# ──── RAG CONNECTION APIs ─────────────────────────────────────────────────────────
QDRANT_URL=http://qdrant:6333
QDRANT_COLLECTION_NAME=medical_knowledge
RAG_EMBEDDING_MODEL=BAAI/bge-small-en-v1.5

#────── OLLAMA RAG MODEL APIs───────────────────────────────────────────────────────
OLLAMA_BASE_URL=http://host.docker.internal:11434
OLLAMA_MODEL=llama3.1:8b