fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
PyJWT
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
pydantic[email]
pydantic-settings
alembic
psycopg2-binary
redis
httpx==0.27.2
certifi
cryptography
APScheduler
pypdf
reportlab
google-cloud-vision
pytesseract
Pillow
pdf2image
PyMuPDF
python-multipart
celery
requests
pywebpush
supabase==2.6.0
realtime==1.0.6
postgrest==0.16.11
storage3==0.7.7
gotrue==2.12.4
supafunc==0.5.1
joblib
scikit-learn
pandas
lightgbm
xgboost
shap
qdrant-client
fastembed
sentence-transformers
llama-index
