fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
PyJWT
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
pydantic[email]
pydantic-settings
alembic
psycopg2-binary
redis
httpx
certifi
cryptography
APScheduler
pypdf
reportlab
google-cloud-vision
pytesseract
Pillow
pdf2image
PyMuPDF
python-multipart
celery
requests
pywebpush
supabase>=2.3.0,<2.7.0
joblib
scikit-learn
pandas
lightgbm
xgboost
shap
qdrant-client
fastembed
sentence-transformers
llama-index
